@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
  display: block;
}

ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/*common*/
.inner {
  max-width: 1300px;
  margin: 0 auto;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 45px;
  font-weight: 700;
}

h2 span {
  font-size: 30px;
  font-weight: 300;
}

/* index.css */
body {
  width: 100%;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  position: relative;
}
header {
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 120px;
}
header h1 {
  width: 240px;
}

header a img {
  width: 100%;
}
header ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

header ul.menu > li {
  height: 100%;
  padding: 0 20px;
  position: relative;
}
header .menu > li > a {
  position: relative;
  font-size: 19px;
  font-weight: 500;
  color:#000;
}
header .menu > li > a::before {
  display: block;
  content: '';
  width: 0px;
  height: 4px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  bottom: -31px;
  transform: translateX(-50%);
}
header .menu > li:hover > a::before {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #f04e28;
  position: absolute;
  left: 50%;
  bottom: -31px;
  transform: translateX(-50%);
  z-index: 2;
  transition: 0.3s ease-in-out;
}
header .menu .submenu {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 60px;
  text-align: center;
  z-index: 7;
  /* 스크립트로 설정 */
  display: none;
}
header .menu .submenu li {
  padding: 10px 0;
}

header .menu .submenu li a {
  font-weight: 700;
}
header .menu .submenu li a:hover{
  text-decoration: underline;
}
header .wrap {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 6;

  display: none;
}

header .bar {
  font-size: 0;
  display: none;
  cursor: pointer;
}
header .bar a {
  width: 24px;
  height: 2px;
  background-color: #000;
  border-radius: 100%;
}
header .bar a:after {
  display: block;
  content: '';
  width: 24px;
  height: 2px;
  background-color: #000;
  border-radius: 100%;
  position: relative;
  top: 8px;
}
header .bar a::before {
  display: block;
  content: '';
  width: 24px;
  height: 2px;
  background-color: #000;
  border-radius: 100%;
  position: relative;
  top: -8px;
}

header .pop {
  width: 100%;
  height: 100vh;
  background-color: #ffb642;
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 9999;
  transition: all 2s;
}
.pop .close {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.pop .close i {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
}
/* 모바일버전 메뉴 */
nav {
  width: 100%;
  box-sizing: border-box;
}
nav a {
  color: #fff;
}

nav ul.gnb .lnb {
  width: 100%;
  background-color: #000;
}
nav ul.gnb > li > a {
  position: relative;
  font-size: 19px;
  font-weight: 500;
  padding: 20px 0;
  margin-left: 20px;
}
nav ul.gnb a i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

nav ul.gnb .lnb {
  padding: 20px 0;
  background-color: #e59b24;
}

nav ul.gnb .lnb li {
  padding: 0 30px;
}
nav ul.gnb .lnb li ~ li {
  padding-top: 8px;
}

nav ul.gnb .lnb li a {
  font-size: 15px;
  font-weight: 700;
}

section {
  width: 100%;
  margin: 0 auto;
}
section article.banner {
  width: 100%;
  height: 50rem;
  background-color: #fff8f0;
  position: relative;
  overflow: hidden;
}

section .banner .banner-title {
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.banner .banner-title h2 {
  font-size: 50px;
  font-weight: 500;
  color: #612315;

  margin-bottom: 20px;
}
.banner .banner-title h2 b {
  position: relative;
  left: 0;
  top: -50px;
  color: #814606;
  /* 스크립트 */
  opacity: 0;
}
.banner .banner-title p {
  font-size: 20px;
  color: #612315;
}
/* deco 요소 */
.banner .decobox {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}
.banner .deco1 {
  width: 600px;
  fill: rgb(255, 182, 66);
  position: absolute;
  left: 15%;
  bottom: -300px;
  z-index: 3;
}
.banner .imgbox1 {
  width: 300px;
  position: absolute;
  right: 25%;
  bottom: 100px;
  opacity: 0;
  z-index: 4;
}

.banner .imgbox2 {
  width: 400px;
  position: absolute;
  left: -25%;
  top: 100px;
  opacity: 0;
  z-index: 5;
}

.banner .imgbox1 img,
.banner .imgbox2 img {
  width: 100%;
}

/* 재단소개 */
article.about {
  padding: 120px 0;
}

article.about .inner {
  position: relative;
  top: 100px;
  opacity: 0;
  animation: top 1s ease-in-out 0s 1 normal forwards;
}
@keyframes top {
  100% {
    top: 0;
    opacity: 1;
  }
}
.about .about-title h2 {
  margin-bottom: 45px;
}
.about .content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.about .content-wrap .content {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  flex: 1;
  background-color: #eee;
  transition: all 0.3s;
}
.about .content-wrap .content:hover {
  background-color: #ffb642;
}

.about .content-wrap .content .title-top h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}
.about .content-wrap .content .title-top p {
  font-weight: 400;
}

.about .content-wrap .content .title-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about .content-wrap .content .title-bottom p {
  font-weight: 900;
}
.content .title-bottom div {
  width:64px;
  height:64px;
}
.content:hover .title-bottom div {
  filter: brightness(120%);
}
.content .title-bottom div img {
  width: 100%;
}


article.company {
  width: 100%;
  background-color: #fff8f0;
  padding: 120px 0;
}
article.company .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}
article.company .inner .title h2 {
  font-size: 73px;
  font-weight: 600;
  margin-bottom: 40px;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  z-index: 2;
  font-family: 'Noto Serif KR', serif;
}

article.company .inner .title h2 h2 span {
  font-family: 'Noto Sans KR', sans-serif;
}
article.company .inner .title h2::after {
  display: block;
  content: '';
  width: 100%;
  height: 30px;
  background-color: #ffb642;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: -1;
}
article.company .inner .title p {
  color: #666;
  font-size: 18px;
}
article.company .inner .content2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: relative;
  top: 200px;
  opacity: 0;
}

article.company .inner .content2 .con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.company .inner .content2 .con .imgbox {
  width: 45px;
}

.company .inner .content2 .con .imgbox img {
  width: 100%;
}
.company .inner .content2 .con:hover a {
  color: #ff8f75;
}
.company .inner .content2 .con h3 a {
  font-size: 28px;
  font-weight: 800;
  transition: all 0.3s;
}

/* 프로젝트 */

article.project {
  width: 100%;
  padding: 120px 0;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  top: -100px;
  opacity: 0;
}
article.project h2 {
  margin-bottom: 20px;
}
article.project .content3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 2%;
}

.project .content3 .list {
  width: 23.33%;
  margin-bottom: 2%;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.project .content3 .des {
  padding: 20px;
  text-align: left;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 500;
}

.project .content3 .des .date {
  color: red;
}
.project .content3 .list .imgbox {
  width: 100%;
}
.project .content3 .list .imgbox a {
  display: block;
  width: 100%;
  height: 285px;
  overflow: hidden;
}
.project .content3 .list .imgbox a:hover img {
  transform: scale(1.2);
}

.project .content3 .list .imgbox a img {
  width: 100%;
  display: block;
  transition: all 0.6s;
}
/* 공지사항 */
article.notice {
  width: 100%;
  padding: 120px 0;
  background-color: #fff8f0;
}
article.notice .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

article.notice .title h3 {
  font-weight: 300;
  font-size: 40px;
}

.notice .title .btn {
  width: 28px;
  height: 28px;
  background-color: #000;
}
.notice .title .btn i {
  color: #fff;
  width: 100%;
  position: relative;
  left: 7px;
}
.notice .content4 {
  margin-bottom: 60px;
}
.notice .content4 .content {
  background-color: #fff;
  width: 25%;
  padding: 40px;
  position: relative;
  
}
.notice .content4 .content::after {
  display: block;
  content: '';
  width: 100%;
  height: 242px;
  border: 8px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
  transition: all 1s;
}
.notice .content4 .content:hover::after {
  border: 8px solid #f5a11b;
  box-shadow: 0 0 8px #d9d9d9;
  
}

.notice .content4 .content h3 {
  font-size: 40px;
  font-weight: 300;
}

.notice .content4 .content .date {
  font-size: 14px;
  padding-bottom: 16px;
}
.notice .content4 .content p:last-child {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -2px;
}

.notice .notice-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.notice .notice-banner > div {
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
}
.notice .notice-banner > div > a {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.notice .notice-banner > div > a .con-left h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
}
.notice .notice-banner > div > a .con-left p {
  font-size: 20px;
  font-weight: 300;
}
.notice .notice-banner > div > a .con-right {
  width: 80px;
}
.notice .notice-banner > div > a .con-right img {
  width: 100%;
  display: block;
}
.notice .notice-banner .banner1 {
  background-color: #f5a11b;
}
.notice .notice-banner .banner2 {
  background-color: #0d5b52;
}

.footer-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;

  position: relative;
}
.footer-banner p {
  font-size: 20px;
  font-weight: 500;
  width: 10%;
}
.footer-banner .btn {
  width: 10%;
  height: 100%;
  position: relative;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 58%;
  width: 30px; /* 버튼 폭 */
  height: 30px; /* 버튼 높이 */
  z-index: 10; /* 슬라이드보다 위에 표시 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #333 !important; /* 원하는 색상 */
  font-size: 24px; /* 크기 조절도 가능 */
}
.footer-banner .btn .stop {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.footer-banner .btn .stop i {
  display: inline-block; /* 또는 block */
  width: 30px;
  height: 30px;
  line-height: 30px; /* 가운데 정렬 */
  text-align: center;
  font-size: 30px;
  color: transparent; /* 글자 내부 투명 */
  -webkit-text-stroke: 2px #333; /* 테두리 색상과 두께 */
}

.swiper {
  width: 80%;
  height: 100%;
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.swiper-slide {
  width: 155px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 53px;
}
.swiper-slide a {
  width: 155px;
  height: 100%;
}

.swiper-slide a img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 푸터 */
footer {
  width: 100%;
  background-color: #f8f9ff;
  color: #797979;
  padding: 20px 0;
}
footer .bottom-logo {
  width: 195px;
  padding: 40px 0;
}
footer .bottom-logo a {
  width: 100%;
}
footer .bottom-logo a img {
  width: 100%;
  display: block;
}
footer .footer-des {
  padding-bottom: 40px;
  border-bottom: 1px solid #d9d9d9;
}
footer .footer-des p {
  margin-bottom: 4px;
}

footer .footer-des p span {
  color: #797979;
  padding: 0 6px;
  position: relative;
}
footer .footer-des p span:last-child:after {
  display: block;
  content: '';
  width: 1px;
  height: 18px;
  background-color: #000;

  position: absolute;
  left: 0;
  top: 4px;
}

footer .copy {
  padding-top: 20px;
}

footer .copy p b {
  color: #000;
}
