@charset "utf-8";
@media all and (max-width: 1200px) {
  .inner {
    max-width: 1200px;
    padding: 0 40px;
    box-sizing: border-box;
  }
  header .inner {
    justify-content: space-between;
  }

  header > .inner > .menu {
    display: none;
    background-color: aqua;
  }

  header .inner .bar {
    display: block;
  }
  .project .content3 .list .imgbox a {
    height: 240px;
  }
  .notice .notice-banner {
    flex-direction: column;
  }
}

@media all and (max-width: 1024px) {
  .inner {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .banner .banner-title h2 {
    font-size: 40px;
  }

  .project .content3 .list {
    width: 32%;
    margin-bottom: 2%;
    border: 1px solid #eee;
    box-sizing: border-box;
  }
  .notice .content4 .content {
    width: 50%;
  }

  .notice .content4 .content p br {
    display: none;
  }
  .footer-banner p {
    width: 10%;
    letter-spacing: -1px;
  }
  .footer-banner .btn {
    width: 20%;
    position: relative;
  }

  .swiper {
    width: 70%;
  }

  footer .footer-des p span:last-child:after {
    display: none;
  }
}

@media all and (max-width: 980px) {
  .about .content-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .about .content-wrap .content {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
  }
  .footer-banner p {
    width: 10%;
    letter-spacing: -1px;
  }
  .footer-banner .btn {
    width: 20%;
    position: relative;
  }

  .swiper {
    width: 70%;
  }
}
@media all and (max-width: 860px) {
  .inner {
    max-width: 860px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .banner .banner-title h2 {
    font-size: 35px;
  }

  .project .content3 .list {
    width: 49%;
    margin-bottom: 2%;
    border: 1px solid #eee;
    box-sizing: border-box;
  }
  article.company .inner .content2 .con h3 a {
    font-size: 18px;
  }
  article.company .inner .title h2 {
    font-size: 60px;
  }
  article.company .inner .title h2::after {
    height: 16px;
    bottom: 2px;
  }

  article.company .inner .title p {
    font-size: 16px;
    font-weight: 400;
  }
}

@media all and (max-width: 768px) {
  section .banner .banner-title {
    position: relative;
    left: 0;
    top: 10%;
    transform: translateY(0);
  }
  .banner .decobox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
  .banner .decobox .deco1 {
    width: 600px;
    fill: rgb(255, 182, 66);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -400px;
    z-index: 3;
  }

  .banner .decobox .imgbox1 {
    width: 200px;
    position: absolute;
    right: 18%;
    bottom: 100px;
    opacity: 1;
    z-index: 4;
  }

  .banner .decobox .imgbox2 {
    width: 240px;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 5;
  }
  .footer-banner p {
    font-size: 18px;
    width: 10%;
    letter-spacing: -1px;
  }
  .footer-banner .btn {
    width: 20%;
    position: relative;
  }
  .footer-banner .btn .stop i {
    font-size: 20px;
    height: 30px;
    width: 30px;
    -webkit-text-stroke: 1px #333;
  }

  .swiper {
    width: 70%;
  }
}

@media all and (max-width: 690px) {
  .about .content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }

  .about .content-wrap .content {
    width: 100%;
    box-sizing: border-box;
  }
}

@media all and (max-width: 640px) {
  article.company .inner .title h2 {
    font-size: 45px;
  }
  .footer-banner p{
    font-size: 16px;
  }
  .footer-banner .btn {
    width: 20%;
  }
  .footer-banner .btn .stop i {
    font-size: 20px;
    height: 30px;
    width: 30px;
    -webkit-text-stroke: 1px #333;
  }

  .swiper {
    width: 70%;
  }
  footer .footer-des p {
    font-size: 14px;
  }

  footer .footer-des p span {
    padding: 0 4px;
  }
  footer .footer-des p span.number {
    display: block;
  }
}

@media all and (max-width: 630px) {
  article.company .inner .content2 {
    flex-direction: column;
  }

  article.company .inner .content2 .con {
    justify-content: center;
    gap: 4px;
  }
  .company .inner .content2 .con .imgbox {
    width: 45px;
    height: 45px;
  }

  .company .inner .content2 .con .imgbox img {
    width: 100%;
  }
  .notice .notice-banner > div > a {
    gap: 40px;
  }

  .notice .notice-banner > div > a .con-left p {
    font-size: 16px;
  }
}

@media all and (max-width: 480px) {
  h2 {
    font-size: 35px;
    font-weight: 700;
  }
  h2 span {
    font-size: 24px;
  }
  .banner .banner-title h2 {
    font-size: 24px;
  }
  .banner .banner-title p {
    font-size: 18px;
  }
  article.company .inner .title p {
    font-size: 16px;
  }
  .footer-banner p {
    font-size: 16px;
    width: 20%;
  }
  .footer-banner .btn {
    width: 40%;
  }
  .footer-banner .btn .stop i {
    font-size: 20px;
    height: 30px;
    width: 30px;
    -webkit-text-stroke: 1px #333;
  }

  .swiper {
    width: 40%;
  }
}

@media all and (max-width: 425px) {
  .company .title p br {
    display: none;
  }
  .project .content3 .list .imgbox a {
    height: 160px;
  }

  .project .content3 .des {
    font-size: 14px;
  }

  .project .content3 .des .date {
    font-size: 12px;
  }
  footer .footer-des p span.mail {
    display: block;
  }
}
